# Django
DJANGO_SECRET_KEY=replace-with-a-secure-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3

# CORS / Frontend
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
FRONTEND_URL=http://localhost:5173
DRF_THROTTLE_ANON=120/min
DRF_THROTTLE_USER=300/min
DRF_THROTTLE_AUTH=20/min
DRF_THROTTLE_PAYMENT_INIT=60/min
DRF_THROTTLE_PAYMENT_COMMIT=120/min
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=False

# Webpay (integration values for local testing)
WEBPAY_HOST=https://webpay3gint.transbank.cl
WEBPAY_API_KEY_ID=597055555532
WEBPAY_API_KEY_SECRET=replace-with-webpay-secret
